h1
{
color: red;
font-size: 15pt;
text-align:center;
padding-bottom: 20px;
}

.container
{
  padding-bottom: 50px;
}


.imgTitle
{
  color: blue;
  }

.column-left {
  float: left;
  width: 33.333%;
}

.column-right {
  float: right;
  width: 33.333%;
}

.column-center {
  display: inline-block;
  width: 33.333%;
}

img {
  width: 90%;
  height: auto;
}

p {
  width: 90%;
  height: auto;
}


